@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap");
:root {
  --text: #e2e2e2;
  --text-second: #999ca8;
  --text-third: #3a3c42;
  --primary: #006eff;
  --primary-dark: #0066eb;
  --background: #1a1c23;
  --background-dark: #101216;
  --pageProgressValue: 0%;
  --pageProgressWidth: 25%;
}

.col {
  padding: 0;
}

.row {
  margin: 1rem 0;
}

body,
html {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: Montserrat;
  letter-spacing: 2px;
  color: var(--text);
  font-size: 22px;
  background: var(--background);
}

#sidebarToggle {
  display: none;
}
#sidebarToggle svg {
  width: 1rem;
}

.backdrop {
  display: none;
}

.mobilewarning {
  display: none;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background: var(--background);
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  color: var(--primary);
  flex-direction: column;
}
.mobilewarning img {
  width: 20vw;
}
.mobilewarning.active {
  display: flex;
}

.otherhide.active {
  display: none !important;
}

@media (max-width: 1199px) {
  #sidebarToggle {
    color: #fff;
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.4rem;
    border-radius: 0.4rem;
    position: fixed;
    z-index: 1000;
    width: 1rem;
    height: 1rem;
    right: 5px;
    top: 5px;
    box-sizing: content-box;
    background: var(--background);
  }
}
.pageCounter {
  margin: 0;
  position: fixed;
  top: 4rem;
  right: 7rem;
  z-index: 1;
}
.pageCounter #progressText {
  letter-spacing: 0.5rem;
  font-weight: 100;
  color: #8c909c;
}
.pageCounter #progressText .page {
  color: var(--primary);
}
.pageCounter .progress {
  background: rgba(255, 255, 255, 0.1);
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  padding: 0;
  display: flex;
  height: 0.1rem;
  width: 10rem;
}
.pageCounter .progress-value {
  transition: 1s left ease;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background: var(--primary);
  height: 0.1rem;
  left: var(--pageProgressValue);
  position: relative;
  width: var(--pageProgressWidth);
}
@media (max-width: 1199px) {
  .pageCounter {
    display: none;
  }
}

@media (max-width: 1199px) {
  #fp-nav.fp-right {
    right: 0;
  }
}

#fp-nav .active span {
  background: var(--primary);
}

button {
  text-transform: uppercase;
  border: none;
  color: var(--text);
  font-size: 0.8rem;
  padding: 0.6rem 1.7rem;
  font-family: Montserrat;
  background: var(--primary);
  letter-spacing: 2px;
  border-radius: 1rem;
  cursor: pointer;
  transition: color 0.1s linear, transform 0.3s ease;
  white-space: nowrap;
  margin: 0.5rem;
}
@media (min-width: 1200px) {
  button {
    margin: 0.5rem auto;
    padding: 0.6rem 2rem;
  }
}
button:active, button:focus {
  outline: none;
}
button:hover {
  box-shadow: 0px 0.7rem 0.7rem var(--background-dark);
  transform: translateY(-0.2rem);
}

.page {
  height: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
}
.page .sidebar {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 7rem;
  height: 100vh;
  background: var(--primary);
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  text-align: center;
  left: -7rem;
}
@media (max-width: 1199px) {
  .page .sidebar {
    transition: 0.5s all ease;
    z-index: 2;
    position: fixed;
  }
  .page .sidebar.show {
    left: 0;
  }
  .page .sidebar ~ .backdrop {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1;
    background: none;
    transition: background-color 0.5s ease;
  }
  .page .sidebar.show ~ .backdrop {
    display: block;
    background: rgba(0, 0, 0, 0.267);
  }
}
.page .sidebar img.top {
  width: 60%;
  margin: 0 auto;
  margin-top: 2rem;
  transition: filter 1s linear;
  cursor: pointer;
}
.page .sidebar img.top:hover {
  filter: brightness(2);
}
@media (min-width: 1200px) {
  .page .sidebar div.socialList {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    margin-bottom: 2rem;
  }
}
.page .sidebar ul {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 1rem;
}
.page .sidebar ul li {
  font-size: 0.7rem;
  font-weight: 500;
  margin: 1.5rem auto;
  transition: color 0.3s ease, background-color 0.3s ease;
  border-radius: 0.8rem;
  width: min-content;
  word-wrap: none;
  white-space: nowrap;
  padding: 0.2rem 0.7rem;
}
.page .sidebar ul li.social {
  margin: 1.5rem auto;
  padding: 0.35rem 1rem;
  border-radius: 5rem;
}
.page .sidebar ul li.social a,
.page .sidebar ul li.social img {
  width: 1rem;
}
.page .sidebar ul li:hover {
  background: var(--primary-dark);
  cursor: pointer;
}
.page .sidebar ul li a {
  text-decoration: none;
  color: var(--text);
}
.page .sidebar ul li a:hover {
  color: white;
}
.page #content {
  height: 100%;
  width: 100%;
  background: var(--background);
  scroll-behavior: smooth;
}
.page #content > section {
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
  background: url("../img/Waves.png");
  background-position-y: center;
}
.page #content > section > .row,
.page #content > section > .fp-tableCell > .row {
  margin: 0;
}
@media (min-width: 1200px) {
  .page #content > section {
    padding: 0 3rem;
  }
}
.page #content > section .fp-tableCell {
  padding-top: 2.7rem;
  display: flex;
  justify-content: start;
  flex-direction: column;
}
@media (max-width: 1199px) {
  .page #content > section .fp-tableCell {
    padding-top: 1rem;
  }
}
.page #content > section .headline {
  border-bottom: 0.1rem solid var(--text-third);
  font-weight: 900;
  width: 100%;
  margin-top: 0rem;
  padding-bottom: 0.5rem;
  font-size: 2rem;
  color: var(--primary);
}
@media (max-width: 1199px) {
  .page #content > section .headline {
    font-size: 1.5rem;
  }
}
.page #content > section .headline .name {
  color: var(--primary);
}
.page #content #contact form {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
@media (max-width: 1199px) {
  .page #content #contact form {
    margin-top: 0rem;
  }
  .page #content #contact form .row.footer,
.page #content #contact form ul,
.page #content #contact form li,
.page #content #contact form a {
    margin: 0 !important;
  }
  .page #content #contact form .row.footer span,
.page #content #contact form ul span,
.page #content #contact form li span,
.page #content #contact form a span {
    display: none;
  }
}
@media (min-width: 1200px) {
  .page #content #contact form .row.footer {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    margin-bottom: 2rem;
  }
}
.page #content #contact form ul {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}
.page #content #contact form ul li {
  font-size: 0.7rem;
  font-weight: 500;
  margin: 1.5rem 0;
  transition: color 0.3s ease, background-color 0.3s ease;
  border-radius: 0.8rem;
  width: min-content;
  word-wrap: none;
  white-space: nowrap;
  padding: 0.2rem 0.7rem;
}
.page #content #contact form ul li.social {
  margin: 3rem 0;
  padding: 0.35rem 1rem;
  border-radius: 5rem;
}
.page #content #contact form ul li.social a {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  text-decoration: none;
  color: var(--text-second);
  transition: 0.5s color ease;
}
.page #content #contact form ul li.social a:hover {
  color: var(--text);
}
.page #content #contact form ul li.social a img {
  height: 1rem;
  margin-right: 0.5rem;
}
.page #content #contact form .pure-material-textfield-outlined {
  width: 100%;
  height: 100%;
}
.page #content #contact form textarea {
  height: 8rem;
}
@media (max-width: 1199px) {
  .page #content #contact form textarea {
    height: 6rem;
  }
}
.page #content #contact form .userDetail {
  margin: 0 0.7rem;
}
.page #content #contact form .message,
.page #content #contact form .submit {
  margin: 0 0.8rem;
}
@media (max-width: 1199px) {
  .page #content #contact form .submit > div.col-12 {
    display: flex;
    justify-content: center;
  }
}
.page #content #contact form .message {
  margin-top: 2rem;
  padding-left: 15px;
}
@media (max-width: 1199px) {
  .page #content #contact form .message {
    margin-top: 0;
    padding-left: 0;
  }
}
.page #content #contact form .message > div.col-12 {
  padding: 0;
}
.page #content #contact form .result > div {
  text-align: center;
}
.page #content #contact form .name fieldset {
  margin-right: 1rem;
}
@media (max-width: 1199px) {
  .page #content #contact form .name {
    padding: 0;
  }
  .page #content #contact form .name fieldset {
    margin-right: 0rem;
  }
}
.page #content #contact form .email fieldset {
  margin-left: 1rem;
}
@media (max-width: 1199px) {
  .page #content #contact form .email {
    padding: 0;
  }
  .page #content #contact form .email fieldset {
    margin-left: 0rem;
  }
}
.page #content #portfolio {
  height: 100%;
}
.page #content #portfolio .centerGetstarted {
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: -1;
}
.page #content #portfolio .centerGetstarted .getstarted {
  border: 0.15rem solid var(--primary);
  background: transparent;
  transition: 0.4s ease background-color;
}
.page #content #portfolio .centerGetstarted .getstarted:hover {
  background: var(--primary);
  transform: translateY(0);
}
.page #content #portfolio .popups {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  height: 100%;
  margin: 1rem 0;
}
.page #content #portfolio .popups .myCard {
  cursor: pointer;
  width: 100%;
  margin: 3rem;
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.67);
  -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.67);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.67);
  height: fit-content;
  z-index: -1;
}
.page #content #portfolio .popups .myCard > img {
  width: 100%;
}
@media (min-width: 1200px) {
  .page #content #portfolio .popups .myCard #jerseyWork .myModal {
    padding-top: 0;
  }
  .page #content #portfolio .popups .myCard #jerseyWork .myModal .images {
    display: block;
    text-align: center;
    padding: 0 13rem;
  }
  .page #content #portfolio .popups .myCard #jerseyWork .myModal .images img {
    width: 67%;
    margin: 4.5rem 0;
    padding: 0;
  }
}
.page #content #portfolio .popups .myCard .images {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: start;
  flex-direction: column;
}
.page #content #portfolio .popups .myCard .images img {
  width: 100%;
  margin: 1rem 0;
}
@media (max-width: 1199px) {
  .page #content #portfolio .popups {
    flex-wrap: wrap;
  }
  .page #content #portfolio .popups .myCard {
    margin: 0 5rem;
  }
}
.page #content #landing .testText {
  margin: 0;
}
.page #content #landing .text .headline {
  color: var(--text);
}
.page #content #landing .text .headline .name {
  color: var(--primary);
}
.page #content #landing .text .description {
  padding-top: 0.5rem;
  border-radius: 0.1rem;
  color: var(--text);
  font-weight: 300;
  letter-spacing: 0.15rem;
}
@media (max-width: 1199px) {
  .page #content #landing .text .description {
    font-size: 0.6rem;
    letter-spacing: 0.1rem;
  }
}
.page #content #landing .mid {
  margin-top: 1rem;
}
@media (min-width: 1200px) {
  .page #content #landing .mid {
    margin-top: 5rem;
  }
}
.page #content #landing .mid .buttons {
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
  flex-direction: row;
}
@media (min-width: 1200px) {
  .page #content #landing .mid .buttons {
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
  }
}
.page #content #landing .mid .buttons button {
  text-transform: uppercase;
  border: none;
  color: var(--text);
  font-size: 0.8rem;
  padding: 0.6rem 1.7rem;
  font-family: Montserrat;
  letter-spacing: 2px;
  border-radius: 1rem;
  cursor: pointer;
  transition: color 0.1s linear, transform 0.3s ease;
  white-space: nowrap;
  margin: 0.5rem;
  width: 10rem;
}
@media (max-width: 1199px) {
  .page #content #landing .mid .buttons button {
    margin: 0;
    padding: 0.6rem 1rem;
    width: auto;
  }
}
.page #content #landing .mid .buttons button:active, .page #content #landing .mid .buttons button:focus {
  outline: none;
}
.page #content #landing .mid .buttons button:hover {
  box-shadow: 0px 0.7rem 0.7rem var(--background-dark);
  transform: translateY(-0.2rem);
}
.page #content #landing .mid .buttons .work {
  background: var(--primary);
}
.page #content #landing .mid .buttons .contact {
  background: var(--background-dark);
}
.page #content #landing .mid .carousel {
  padding: 0;
  -webkit-box-shadow: 14px 14px 46px -20px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 14px 14px 46px -20px rgba(0, 0, 0, 0.75);
  box-shadow: 14px 14px 46px -20px rgba(0, 0, 0, 0.75);
}
@media (max-width: 1199px) {
  .page #content #landing .mid .carousel {
    padding-top: 1rem;
    margin-left: 0rem;
  }
}
.page #content #landing .mid .carousel .dot.is-selected {
  background: var(--primary);
}
@media (max-width: 1199px) {
  .page #content #landing .mid .flickity-prev-next-button.previous,
.page #content #landing .mid .flickity-prev-next-button.next {
    display: none;
  }
}
.page #content #landing .mid .flickity-prev-next-button.previous {
  left: -60px;
}
.page #content #landing .mid .flickity-prev-next-button.next {
  right: -60px;
}
.page #content #landing .mid .flickity-prev-next-button,
.page #content #landing .mid .flickity-prev-next-button {
  box-shadow: none;
  transform: none;
  background: none;
  color: var(--primary);
}
.page #content #landing .mid .carousel,
.page #content #landing .mid .flickity-viewport {
  border-radius: 0.5rem;
}
.page #content #landing .mid .flickity-viewport {
  height: 10rem !important;
}
.page #content #landing .mid .carousel-cell {
  margin-right: 20px;
  overflow: hidden;
  height: 10rem;
}
.page #content #landing .mid .carousel-cell img {
  display: block;
  height: 10rem;
}
.page #content #landing .mid .carousel.is-fullscreen .carousel-cell {
  height: 100%;
}
.page #content #landing .footer {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  flex-grow: 1;
}
.page #content #landing .footer .copyright {
  font-weight: 100;
  color: var(--text-second);
  letter-spacing: 1px;
  font-size: 0.8rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.page #content #landing .footer .scrollIndicator {
  height: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: flex-end;
  animation-name: example;
  animation-direction: alternate;
  animation-duration: 1.5s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  cursor: pointer;
}
.page #content #landing .footer .scrollIndicator img {
  width: 2rem;
}
@keyframes example {
  0% {
    bottom: 0px;
  }
  100% {
    bottom: 50px;
  }
}
.page #content #prices .contactMobileDiv {
  display: flex;
  justify-content: center;
}
.page #content #prices button.contact {
  margin-top: 2rem;
}
.page #content #prices button.contact.desktop {
  display: block;
}
.page #content #prices button.contact.mobile {
  display: none;
}
@media (max-width: 1199px) {
  .page #content #prices button.contact.desktop {
    display: none;
  }
  .page #content #prices button.contact.mobile {
    display: block;
  }
}
@media (max-width: 1199px) {
  .page #content #prices button.contact {
    margin: 0rem;
    margin-top: 0.5rem;
    padding: 0.6rem 0.7rem;
    font-size: 0.7rem;
  }
}
.page #content #prices .row.products {
  margin-top: 2rem;
}
@media (max-width: 1199px) {
  .page #content #prices .row.products {
    margin-top: 0rem;
  }
  .page #content #prices .row.products .col-6 {
    padding: 0;
  }
}
.page #content #prices .row.products .firstCol {
  display: flex;
  flex-direction: column;
}
.page #content #prices .row.products ul.list {
  list-style: none;
}
@media (max-width: 1199px) {
  .page #content #prices .row.products ul.list {
    padding: 0;
  }
}
.page #content #prices .row.products ul.list > li {
  letter-spacing: 0.2rem;
  font-size: 1.3rem;
  margin: 1rem 0;
}
@media (max-width: 1199px) {
  .page #content #prices .row.products ul.list > li {
    font-size: 0.7rem;
    letter-spacing: 0.1rem;
  }
}
.page #content #prices .row.products ul.list > li.contact .blue {
  display: inline;
}
.page #content #prices .row.products ul.list > li.contact .blue a {
  cursor: pointer;
}
.page #content #prices .row.products ul.list > li > span {
  width: 3.5rem;
  display: inline-block;
}
.page #content #prices .row.products ul.list > li > span.blue {
  color: var(--primary);
}
@media (max-width: 1199px) {
  .page #content #prices .row.products ul.list > li > span {
    width: auto;
    display: inline;
  }
}
.page #content #prices .row.products ul.list > li .sublist {
  color: var(--text-second);
  list-style: none;
  font-size: 1rem;
}
.page #content #prices .row.products ul.list > li .sublist > li {
  margin-left: 3.3rem;
}
@media (max-width: 1199px) {
  .page #content #prices .row.products ul.list > li .sublist {
    padding: 0;
    font-size: 0.5rem;
  }
  .page #content #prices .row.products ul.list > li .sublist > li {
    margin-left: 2rem;
  }
  .page #content #prices .row.products ul.list > li .sublist > li:before {
    margin-right: 0.4rem;
  }
}
.page #content #prices .row.products ul.list > li .sublist .examples {
  list-style: none;
  font-size: 0.8rem;
  color: var(--text-third);
}
.page #content #prices .row.products ul.list > li .sublist .examples > li {
  margin-left: 0.35rem;
}
@media (max-width: 1199px) {
  .page #content #prices .row.products ul.list > li .sublist .examples {
    font-size: 0.4rem;
    padding: 0;
  }
  .page #content #prices .row.products ul.list > li .sublist .examples > li::before {
    margin-right: 0.1rem;
    margin-left: 1rem;
  }
}

ul.dashed {
  list-style-type: none;
}

ul.dashed > li {
  text-indent: -1rem;
}

ul.dashed > li:before {
  content: "-";
  margin-right: 1rem;
}

.material {
  position: relative;
  padding: 0;
  margin: 1rem 0rem;
  border: none;
  overflow: visible;
}
.material input {
  box-sizing: border-box;
  width: 100%;
  padding: 0.5rem 0.4rem 0.3rem;
  border: none;
  border-radius: 0;
  box-shadow: none;
  border-bottom: 0.1rem solid var(--text-third);
  outline: none;
  cursor: text;
  background-color: var(--background) !important;
  color: var(--text) !important;
  -webkit-box-shadow: 0 0 0 30px var(--background) inset !important;
  -webkit-text-fill-color: var(--text) !important;
}
@media (max-width: 1199px) {
  .material input {
    font-size: 0.8rem;
  }
}
.material input::-webkit-input-placeholder {
  transition: color 300ms ease;
}
.material input:not(:focus)::-webkit-input-placeholder {
  color: transparent;
}
.material input:-internal-autofill-selected,
.material input:-webkit-autofill,
.material input:-webkit-autofill:hover,
.material input:-webkit-autofill:focus,
.material input:-webkit-autofill:active,
.material input:-webkit-autofill,
.material input:-webkit-autofill-strong-password,
.material input:-internal-autofill-selected {
  -webkit-box-shadow: 0 0 0 30px var(--background) inset !important;
  background-color: var(--background) !important;
  -webkit-text-fill-color: var(--text) !important;
}
.material hr {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 2px;
  border: none;
  background: var(--primary);
  font-size: 0.1rem;
  will-change: transform, visibility;
  transition: all 200ms ease-out;
  transform: scaleX(0);
  visibility: hidden;
  z-index: 10;
}
.material input:focus ~ hr {
  transform: scaleX(1);
  visibility: visible;
}
.material label {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 1.2rem;
  color: var(--primary);
  transform-origin: 0 -150%;
  transition: transform 300ms ease;
  pointer-events: none;
}
.material input:focus ~ label,
.material input:valid ~ label {
  transform: scale(0.6);
}

.pure-material-textfield-outlined {
  --pure-material-safari-helper1: var(--primary);
  position: relative;
  display: inline-block;
  padding-top: 6px;
  font-family: var(--pure-material-font, "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system);
  font-size: 1rem;
  line-height: 1.5;
  overflow: hidden;
}
@media (max-width: 1199px) {
  .pure-material-textfield-outlined {
    font-size: 0.8rem;
  }
}

/* Input, Textarea */
.pure-material-textfield-outlined > input,
.pure-material-textfield-outlined > textarea {
  box-sizing: border-box;
  margin: 0;
  border: solid 1px;
  /* Safari */
  border-color: var(--primary);
  border-top-color: transparent;
  border-radius: 4px;
  padding: 15px 13px 15px;
  width: 100%;
  height: inherit;
  color: var(--text);
  background-color: transparent;
  box-shadow: none;
  /* Firefox */
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  caret-color: var(--primary);
  transition: border 0.2s, box-shadow 0.2s;
}

/* Span */
.pure-material-textfield-outlined > input + span,
.pure-material-textfield-outlined > textarea + span {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  border-color: transparent;
  width: 100%;
  max-height: 100%;
  color: var(--primary);
  font-size: 0.75rem;
  line-height: 15px;
  cursor: text;
  transition: color 0.2s, font-size 0.2s, line-height 0.2s;
}

/* Corners */
.pure-material-textfield-outlined > input + span::before,
.pure-material-textfield-outlined > input + span::after,
.pure-material-textfield-outlined > textarea + span::before,
.pure-material-textfield-outlined > textarea + span::after {
  content: "";
  display: block;
  box-sizing: border-box;
  margin-top: 6px;
  border-top: solid 1px;
  border-top-color: var(--primary);
  min-width: 10px;
  height: 8px;
  pointer-events: none;
  box-shadow: inset 0 1px transparent;
  transition: border-color 0.2s, box-shadow 0.2s;
}

.pure-material-textfield-outlined > input + span::before,
.pure-material-textfield-outlined > textarea + span::before {
  margin-right: 4px;
  border-left: solid 1px transparent;
  border-radius: 4px 0;
}

.pure-material-textfield-outlined > input + span::after,
.pure-material-textfield-outlined > textarea + span::after {
  flex-grow: 1;
  margin-left: 4px;
  border-right: solid 1px transparent;
  border-radius: 0 4px;
}

/* Hover */
.pure-material-textfield-outlined:hover > input,
.pure-material-textfield-outlined:hover > textarea {
  border-color: var(--primary);
  border-top-color: transparent;
}

.pure-material-textfield-outlined:hover > input + span::before,
.pure-material-textfield-outlined:hover > textarea + span::before,
.pure-material-textfield-outlined:hover > input + span::after,
.pure-material-textfield-outlined:hover > textarea + span::after {
  border-top-color: var(--primary);
}

.pure-material-textfield-outlined:hover > input:not(:focus):placeholder-shown,
.pure-material-textfield-outlined:hover > textarea:not(:focus):placeholder-shown {
  border-color: var(--primary);
}

/* Placeholder-shown */
.pure-material-textfield-outlined > input:not(:focus):placeholder-shown,
.pure-material-textfield-outlined > textarea:not(:focus):placeholder-shown {
  border-top-color: var(--primary);
}

.pure-material-textfield-outlined > input:not(:focus):placeholder-shown + span,
.pure-material-textfield-outlined > textarea:not(:focus):placeholder-shown + span {
  font-size: inherit;
  line-height: 68px;
}

.pure-material-textfield-outlined > input:not(:focus):placeholder-shown + span::before,
.pure-material-textfield-outlined > textarea:not(:focus):placeholder-shown + span::before,
.pure-material-textfield-outlined > input:not(:focus):placeholder-shown + span::after,
.pure-material-textfield-outlined > textarea:not(:focus):placeholder-shown + span::after {
  border-top-color: transparent;
}

/* Focus */
.pure-material-textfield-outlined > input:focus,
.pure-material-textfield-outlined > textarea:focus {
  border-color: var(--primary);
  border-top-color: transparent;
  box-shadow: inset 1px 0 var(--pure-material-safari-helper1), inset -1px 0 var(--pure-material-safari-helper1), inset 0 -1px var(--pure-material-safari-helper1);
  outline: none;
}

.pure-material-textfield-outlined > input:focus + span,
.pure-material-textfield-outlined > textarea:focus + span {
  color: var(--primary);
}

.pure-material-textfield-outlined > input:focus + span::before,
.pure-material-textfield-outlined > input:focus + span::after,
.pure-material-textfield-outlined > textarea:focus + span::before,
.pure-material-textfield-outlined > textarea:focus + span::after {
  border-top-color: var(--pure-material-safari-helper1) !important;
  box-shadow: inset 0 1px var(--pure-material-safari-helper1);
}

/* Disabled */
.pure-material-textfield-outlined > input:disabled,
.pure-material-textfield-outlined > input:disabled + span,
.pure-material-textfield-outlined > textarea:disabled,
.pure-material-textfield-outlined > textarea:disabled + span {
  border-color: var(--primary, 0, 0, 0) !important;
  border-top-color: transparent !important;
  color: rgba(var(--text, 0, 0, 0), 0.38);
  pointer-events: none;
}

.pure-material-textfield-outlined > input:disabled + span::before,
.pure-material-textfield-outlined > input:disabled + span::after,
.pure-material-textfield-outlined > textarea:disabled + span::before,
.pure-material-textfield-outlined > textarea:disabled + span::after {
  border-top-color: var(--primary, 0, 0, 0) !important;
}

.pure-material-textfield-outlined > input:disabled:placeholder-shown,
.pure-material-textfield-outlined > input:disabled:placeholder-shown + span,
.pure-material-textfield-outlined > textarea:disabled:placeholder-shown,
.pure-material-textfield-outlined > textarea:disabled:placeholder-shown + span {
  border-top-color: var(--primary, 0, 0, 0) !important;
}

.pure-material-textfield-outlined > input:disabled:placeholder-shown + span::before,
.pure-material-textfield-outlined > input:disabled:placeholder-shown + span::after,
.pure-material-textfield-outlined > textarea:disabled:placeholder-shown + span::before,
.pure-material-textfield-outlined > textarea:disabled:placeholder-shown + span::after {
  border-top-color: transparent !important;
}

/* Faster transition in Safari for less noticable fractional font-size issue */
@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) {
    .pure-material-textfield-outlined > input,
.pure-material-textfield-outlined > input + span,
.pure-material-textfield-outlined > textarea,
.pure-material-textfield-outlined > textarea + span,
.pure-material-textfield-outlined > input + span::before,
.pure-material-textfield-outlined > input + span::after,
.pure-material-textfield-outlined > textarea + span::before,
.pure-material-textfield-outlined > textarea + span::after {
      transition-duration: 0.1s;
    }
  }
}
@keyframes sketchIn {
  0% {
    stroke-dashoffset: var(--svgRectWidth);
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes sketchOut {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: var(--svgRectWidth);
  }
}
@keyframes modalFadeIn {
  0% {
    background-color: var(--background);
  }
  100% {
    background-color: white;
  }
}
@keyframes modalFadeOut {
  0% {
    background-color: white;
  }
  100% {
    background-color: var(--background);
  }
}
@keyframes modalContentFadeIn {
  0% {
    opacity: 0;
    top: -20px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
@keyframes quickScaleDown {
  0% {
    transform: scale(1);
  }
  99.9% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes fadeOut {
  0% {
    background: rgba(0, 0, 0, 0.7);
  }
  100% {
    background: rgba(0, 0, 0, 0);
  }
}
@keyframes modalContentFadeOut {
  0% {
    opacity: 1;
    top: 0px;
  }
  100% {
    opacity: 0;
    top: -20px;
  }
}
.modal-container {
  position: fixed;
  display: block;
  height: 100vh;
  width: 104vw;
  top: 100vh;
  left: -7rem;
  z-index: 1;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  visibility: hidden;
}
@media (max-width: 1199px) {
  .modal-container {
    left: 0;
  }
}
.modal-container.six {
  opacity: 1;
  visibility: visible;
}
.modal-container.six.out {
  opacity: 0;
  visibility: hidden;
}
.modal-container .modal-background {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
}
.modal-container .modal-background .myModal {
  background: var(--background);
  padding: 2rem;
  display: inline-block;
  border-radius: 3px;
  font-weight: 300;
  position: relative;
  width: 70vw;
  height: 70vh;
  overflow: auto;
}
@media (max-width: 1199px) {
  .modal-container .modal-background .myModal {
    padding: 0.5rem;
    width: 90vw;
    height: 80vh;
  }
}
.modal-container .modal-background .myModal h2 {
  font-size: 25px;
  line-height: 25px;
  margin-bottom: 15px;
}
.modal-container .modal-background .myModal p {
  font-size: 18px;
  line-height: 22px;
}

/*# sourceMappingURL=index.css.map */
